body {
  font-family: Arial;
  margin: 0;
  background: #eef6f9;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #0077b6;
  color: white;
}

nav {
  background: #023e8a;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

section {
  padding: 20px;
  text-align: center;
}

.profile {
  width: 150px;
  border-radius: 50%;
}

.card {
  display: inline-block;
  width: 250px;
  margin: 15px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Dark Mode */
.dark {
  background: #121212;
  color: white;
}

.dark nav {
  background: black;
}

.dark .card {
  background: #1e1e1e;
}
